*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}

.coin-search {
  margin-block-end: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.coin-text {
  margin-block-end: 32px;
  text-align: center;
}

.coin-input {
  padding-inline-start: 16px;
  width: 300px;
  height: 50px;
  border-radius: 4px;
  border: none;

  color: #e2e2e2;
}
